name: Publish NuGet package

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Create NuGet package
      run: dotnet pack --configuration Release
    - name: Publish NuGet package
      run: dotnet nuget push "bin/Release/*.nupkg" --source "GitHub" --api-key "${{ secrets.GITHUB_TOKEN }}"
